# All dependencies for the SARL project are defined here.

# CVC3 is a satisfiability modulo theories prover.
# Download source from here: http://www.cs.nyu.edu/acsys/cvc3/download.html
# When building, configure with the --enable-dynamic and --enable-java flags.
# Set the path to the java library here:
cvc3.lib.jar=/VSL/Tools/lib/libcvc3.jar

# set to directory containing the CVC3 dynamic libraries
cvc3.jni.dir=/VSL/Tools/lib/cvc3-dynamic-libs

# This library is a port of Clojure's super-efficient persistent
# data structures.  You have to download and compile yourself
# https://github.com/krukow/clj-ds
clj-ds.classes=/VSL/Tools/src/clj-ds-master/src/main/java

# This library is another persistent data structure framework.
# Download from http://code.google.com/p/pcollections/
# Useful for some things that Clojure might not be as good at...
pcollections.jar=/VSL/Tools/lib/pcollections.jar

 JUnit is a well-known automated unit testing framework
# for Java.  Download the JUnit jar file from
# https://github.com/KentBeck/junit/downloads
# All you need is the basic jar, e.g., "junit-4.10.jar".
# Set the path to it here:
junit.jar=/VSL/Tools/lib/junit.jar

# JaCoCo is a Java code coverage library.  Just download the
# distribution from http://www.jacoco.org, put it somewhere,
# and point this to the jacocoant.jar file:
jacoco.jar=/VSL/Tools/src/jacoco/lib/jacocoant.jar
